<html>
  <head>
    <script src="ejs.js"></script>
  </head>

  <body>
    <form action="validate" method="post">
      <p>id : <input id="id" name="id" value="<%= data.id %>" /></p>
      <p>name : <input id="name" name="name" value="<%= data.name %>" /></p>
      <p>description : <input id="description" name="description" value="<%= data.description %>" /></p>
      <p>last_scraped : <input id="last_scraped" name="last_scraped" value="<%= data.last_scraped %>" /></p>
      <button type="submit">
        Valider
      </button>
      <button type="reset" onclick="location.pathname = '/'">
        Retour
      </button>
    </form>
  </body>

</html>